<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center p-5">
  <h1>Listado de Clientes</h1>
</div>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12">
      <table class="table table-bordered table-hover" id="tabla_clientes">
        <thead>
          <tr >
            <th class="text-center">
              Identificacion
            </th>
            <th class="text-center">
              Nombre
            </th>
            <th class="text-center">
              Edad
            </th>
            <th class="text-center">
              Fecha de Nacimiento
            </th>
            <th class="text-center">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>
              <input type="text" name='id0'  placeholder='ID' class="form-control" value="{{cliente.id}}" readonly/>
            </td>
            <td>
              <input type="text" name='name0'  placeholder='Name' class="form-control" value="{{cliente.nombre}}" readonly/>
            </td>
            <td>
              <input type="text" name='edad0' placeholder='Edad' class="form-control" value="{{cliente.edad}}" readonly/>
            </td>
            <td>
              <input type="text" name='fecha0' placeholder='Fecha' class="form-control" value="{{cliente.fecha}}" readonly/>
            </td>
            <td>
              <button type="button" id="edit_row0" class="btn btn-primary mx-auto">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
